body{
    margin: 0;
    padding: 0;
    font-size: 14pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
canvas{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    object-fit: contain;
    object-position: 0 0;
    max-height: 100% !important;
    z-index: 0;
}
#ui{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}
.level-info{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    pointer-events: none;
    user-select: none;
    color: #fff;
    text-shadow: 1px 1px #000;
    font-size: 2em;
}
.countdown{
    display: inline-block;
    width: 100%;
    text-align: center;
    pointer-events: none;
    user-select: none;
    font-size: 2em;
    color: rgb(255, 208, 0);
    text-shadow: 1px 1px #000;
    animation: countdown-animation linear 1.1s;
}
.coin-box{
    position: absolute;
    right: 1em;
    color: rgb(255, 208, 0);
    text-shadow: 1px 1px #000;
}
.animate-warn{
    animation: warning-animation 1s steps(6);
}

@keyframes countdown-animation {
    0%,100%{
        color: rgb(255, 208, 0);
        font-size: 2em;
    }
    50%{
        color: rgb(255, 102, 0);
        font-size: 3em;
    }
}

@keyframes warning-animation{
    0%,50%,100%{
        font-size: 3em;
        color: #f00;
    }
    25%,75%{
        font-size: 3em;
        color: rgb(255, 208, 0);
    }
}